/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-rating input[type="radio"] {
  display: none;
}

/* 星の見た目*/
.star-rating label {
  font-size: 2rem;
  color: #ccc; /*塗られてない星の色*/
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input[type="radio"]:checked ~ label {
  color: #ffcc00; /*塗られた星の色*/
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffdd44;
}