<footer class="border-gray-50 border-t border-gray-200 mx-auto py-6">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <span class="text-gray-500 text-sm">&copy; 2026 AniRemind.</span>
  </div>
</footer>